@model task_4.Models.Entities.Company
@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>
@Html.DisplayForModel()

<div>
	<a class="nav-link text-dark" asp-area="" asp-controller="Company" asp-action="Index">Back</a>
</div>