@model task_4.Models.Entities.Article
@{
	ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form asp-controller="Article" asp-action="Edit" asp-route-id="@Model.Id">
	<div class="form-group">
		<label asp-for="Name" class="custom-control-label">Название</label>
		<input type="text" asp-for="Name" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="CompanyId" class="custom-control-label">id заказчика</label>
		<input type="number" asp-for="CompanyId" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="Date" class="custom-control-label">Дата создания заказа</label>
		<input type="date" asp-for="Date" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="NumberOfCopies" class="custom-control-label">Количество копий</label>
		<input type="number" asp-for="NumberOfCopies" class="form-control" />
	</div>
	<div class="form-group">
		<input type="submit" value="Send" class="btn" />
	</div>
</form>

<div>
	<a class="nav-link text-dark" asp-area="" asp-controller="Article" asp-action="Index">Back</a>
</div>